body {
    background-color: aquamarine;
    font-family: "Times New Roman", Times, serif;

}
html{
    font-size: 14px;
}

h1, h2, h3,
h4, h5, h6 {
    color: chocolate;
}

.container {
    width: 50%;
    border: 4px dotted blue;
}
